<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMWAD | Register</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="signin-body">

<div class="wrapper">

    <div class="form-wrapper sign-up">

        <form method="POST">

            <h2>Register</h2>

            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}

            <div class="input-group">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit" class="button">Register</button>

            <div class="signUp-link">
                <p>Already have an account?
                    <a href="{{ url_for('auth.login') }}">Login</a>
                </p>
            </div>

        </form>

    </div>

</div>

</body>
</html>